body {
    background-image: url(https://i.gifer.com/origin/1c/1c161055a12c8ca0fbe11a95c606ef17.gif);
    background-size: auto 120%;
    background-attachment: fixed, scroll;


}

#cabecalho {
    margin-bottom: 100px;
    text-align: center;
    color: white;
    line-height: 140%;
}


#cod-escolhido {
    height: 30px;
    border: 4px solid red;
    margin-bottom: 30px;
}

#valor {
    display: none;

}

.opcao {
    margin-top: 40px;

}

#txt {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    border: 2px solid;
}


main {
    text-align: center;
    background-color: rgba(211, 211, 211, 0.548);
    width: 670px;
    height: 900px;
    margin: 0 auto;
    border-radius: 60px;
}

#mascara img {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-top: -70px;
    margin-bottom: 20px;

}

#resul {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    border: 3px solid;

}

/**RESPONSIVO**/

@media only screen and (max-width: 1800px) {

    body {
        background-size: auto 120%;
        background-attachment: fixed, scroll;
    }
}

@media only screen and (max-width: 1440px) { 


    select {

        width: 20%;
        font-size: 12px;

        transition: all 0.5s ease-in-out;
    }


    #button {

        width: 50%;
        font-size: 12px;

        transition: all 0.5s ease-in-out;
    }

    .passo {
        padding: 2px;
        width: 20%;
        transition: all 0.5s ease-in-out;
    }

    

}

@media only screen and (max-width: 975px) {

    body {
        background-size: auto 120%;
        background-attachment: fixed, scroll;
    }
    
    #cabecalho {
        font-size: 150%;
        transition: all 0.5s ease-in-out;
    }

    .container {

        font-size: 100%;
        transition: all 0.5s ease-in-out;
    }

    select {
    
        height: 35px;
        width: 50%;
        display: grid;
        grid-column: auto;
        margin: auto;
        margin-top: 1%;
        text-align: center;
        transition: all 0.5s ease-in-out;
    }

    #button {

        height: 32px;
        width: 60%;
        display: grid;
        grid-column: auto;
        margin: auto;
        margin-top: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
        text-align: center;
        font-size: 11px;
        transition: all 0.5s ease-in-out;

    }

    .txt {
        margin-top: 2%;
        transition: all 0.5s ease-in-out;
        
    }

    ::placeholder, footer{
        font-size: 10px;
        transition: all 0.5s ease-in-out;
    }

    .passo {
        padding: 2px;
        width: 20%;
        transition: all 0.5s ease-in-out;
    }

}

@media only screen and (max-width: 501px) {

    body {
        background-size: auto 120%;
        background-attachment: fixed, scroll;
    }

    #cabecalho {
        font-size: 170%;
        transition: all 0.5s ease-in-out;
    }

    .container {

        font-size: 100%;
        transition: all 0.5s ease-in-out;
    }

    select {
    
        height: 35px;
        width: 50%;
        display: grid;
        grid-column: auto;
        margin: auto;
        margin-top: 1%;
        text-align: center;
        transition: all 0.5s ease-in-out;
    }

    .opcao {

        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 14px;
    }

    #button {

        height: 32px;
        width: 70%;
        text-align: center;
        display: grid;
        grid-column: auto;
        margin: auto;
        margin-top: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
        font-size: 11px;
        transition: all 0.5s ease-in-out;

    }

    .txt {
        margin-top: 2%;
        transition: all 0.5s ease-in-out;
        
    }

    ::placeholder, footer{
        font-size: 10px;
        transition: all 0.5s ease-in-out;
    } 

    .passo {
        padding: 2px;
        width: 20%;
        transition: all 0.5s ease-in-out;
    }

}